root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[*.{kt,kts}]
ktlint_code_style = android_studio
ktlint_standard_import-ordering = disabled
ktlint_standard_function-naming = disabled

# Compose Rules configuration
# See: https://github.com/mrmans0n/compose-rules
ktlint_compose_compositionlocal-allowlist = disabled
ktlint_compose_vm-injection-check = disabled

[*.xml]
indent_size = 2

[*.json]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
