*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore all of .idea by default
/.idea/

# But include useful shared configurations
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
!/.idea/copyright/

# Always ignore these even if included above
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/usage.statistics.xml
/.idea/dictionaries
/.idea/shelf
