on:
    pull_request:
    push:
        branches: [main]

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: open-turo/actions-gha/lint@v2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}

    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - uses: open-turo/actions-gha/test@v2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}

    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Setup JDK
              uses: actions/setup-java@v5
              with:
                  distribution: "zulu"
                  java-version: "17"
            - name: Setup Android SDK
              uses: android-actions/setup-android@v3
            - name: Build
              run: ./gradlew assembleDebug
